.grid-section {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    row-gap: 22px;
    column-gap: 8px;
    padding: 20px;
    background-color: rgb(226, 225, 225);
}

.posts {
    padding: 4px;
    
}

.thumbnail-img {
    width: 100%;
   
    margin-bottom: 10px;
}

.video-info {
    display: flex;
}

.channel-icon-container {
    width: 36px;
    padding-right: 10px;
}

.channel-icon {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    margin-right: 10px;
}

.video-title {
    margin: 0px;
    padding-bottom: 15px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.channel-name {
    padding-bottom: 5px;
    margin: 0px;
    color: gray;
    font-size: 13px;
}

.views {
    padding: 0px;
    margin: 0px;
    color: gray;
    font-size: 13px;
    padding-bottom: 10px;
}



@media (max-width: 900px) {
    .grid-section {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 450px) {
    .grid-section {
        grid-template-columns: 1fr;
    }
}